.allowancemodal {
    visibility: hidden;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms linear;
    background: linear-gradient(328.75deg, #493c85 -5.49%, #0f0038 104.44%);
    box-shadow: 0px 20px 56px #0f0038;
    border-radius: 10px;
    padding: 25px 0;
    opacity: 0;
    z-index: 99;
    @media (max-width: 510px) {
        width: 315px;
        padding: 5px 0;
    }
    .toggle {
        background: transparent;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        z-index: 3;
        svg {
            opacity: 0.5;
            color: #fff;
        }
        &:hover {
            svg {
                opacity: 1;
            }
        }
    }
    .allowancemodal_heading {
        padding: 15px;
    }
    .allowancemodal_content {
        padding: 15px;
        .proposal_form {
            label {
                font-weight: bold;
                margin: 5px 0;
            }
        }
    }
    &.show {
        opacity: 1;
        z-index: 99;
        visibility: visible;
    }
}
