.btn {
    &.btn-blue {
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(0, 193, 255, 0.1) 0%, rgba(0, 193, 255, 0) 100%
            );
        border: 1.5px solid;
        border-color: #00A3FF;
        border-radius: 33px;
        width: 210px;
        padding: 10px 33px 10px 33px;
    }
    &.btn-orange {
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(0, 193, 255, 0.1) 0%, rgba(0, 193, 255, 0) 100%
            );
        border: 1.5px solid;
        border-color: #FE8600;
        border-radius: 33px;
        width: 210px;
        padding: 10px 33px 10px 33px;
    }
    &.btn-green {
        background: linear-gradient(
                92.8deg,
                rgba(255, 255, 255, 0.6) -1.42%,
                rgba(10, 176, 96, 0.6) 102.82%
            ),
            #20ff93;
        box-shadow: 0px 0px 22px #20ff93;
        border-radius: 7px;
    }
    &.btn-viewdetails {
        background: linear-gradient(
                92.8deg,
                rgba(255, 255, 255, 0.6) -1.42%,
                rgba(21, 49, 205, 0.318) 102.82%
            ),
            #369eff;
        box-shadow: 0px 0px 22px #36ffde, inset 0px -2px 0px #3643ff;
        border-radius: 7px;
        font-weight: 900;
        font-size: 24px;
        color: #ffffff;
        padding: 8px 35px;
    }
    &.btn-special {
        background: linear-gradient(
                92.8deg,
                rgba(255, 255, 255, 0.6) -1.42%,
                rgba(205, 21, 205, 0.318) 102.82%
            ),
            #ff36ff;
        box-shadow: 0px 0px 22px #ff36ff, inset 0px -2px 0px #ff36ff;
        border-radius: 7px;
        font-weight: 900;
        font-size: 24px;
        color: #ffffff;
        padding: 8px 35px;
    }
    &.btn-special-outline {
        background: linear-gradient(328.75deg, #493c85 -5.49%, #0f0038 104.44%);
        border: 1px solid #180a44;
        border-radius: 7px;
        font-weight: 900;
        font-size: 24px;
        color: #ffffff;
        padding: 8px 35px;
    }
    &.btn-plain {
        background: #10003b;
        border: 1px solid #44377e;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
    }
    &.btn-special-green {
        background: linear-gradient(
                92.8deg,
                rgba(255, 255, 255, 0.6) -1.42%,
                rgba(10, 176, 96, 0.6) 102.82%
            ),
            #20ff93;
        box-shadow: 0px 0px 33px #20ff93;
        border-radius: 7px;
        font-weight: 900;
        font-size: 24px;
        color: #ffffff;
        padding: 8px 35px;
    }
    &.btn-default {
        background: linear-gradient(328.75deg, #493c85 -5.49%, #0f0038 104.44%);
        border: 1px solid #40337a;
        box-sizing: border-box;
        border-radius: 7px;
        color: #fff;
        &.inactive {
            opacity: 0.5;
        }
        &.winner {
            background: linear-gradient(
                328.75deg,
                #f042f0 -5.49%,
                #8a249d 19.13%,
                #0f0038 104.44%
            );
            border: 1px solid #ff36ff;
            box-sizing: border-box;
            border-radius: 7px;
            color: #fff;
            box-shadow: 0px 0px 15px #c93ed7;
            // -webkit-animation-name: shake;
            // -webkit-animation-duration: 0.8s;
            // -webkit-transform-origin:50% 50%;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-timing-function: linear;
            position: relative;
            .badge {
                background: #ff36ff;
                color: #fff;
                left: -9px;
                position: absolute;
                top: 34px;
                font-weight: 900;
                box-shadow: 0px 3px 0px #b51eb5;
                text-shadow: 1px 1px 0px #0000004d;
            }
        }
    }
    &.btn-default-lg {
        background: linear-gradient(328.75deg, #493c85 -5.49%, #0f0038 104.44%);
        border: 1px solid #40337a;
        box-sizing: border-box;
        border-radius: 7px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 11px 5px;
        border-bottom: 4px solid rgb(16, 0, 59);
    }
    &.btn-plain-lg {
        background: linear-gradient(328.75deg, #493c85 -5.49%, #0f0038 104.44%);
        border: 1px solid #3f3178;
        box-sizing: border-box;
        border-radius: 7px;
        color: #ffffff;
        font-size: 21px;
        font-weight: bold;
        padding: 11px 5px;
    }
    &.btn-normal-lg {
        background: linear-gradient(
                92.8deg,
                rgba(255, 255, 255, 0.6) -1.42%,
                rgba(205, 21, 205, 0.318) 102.82%
            ),
            #ff36ff;
        border: 1px solid #f037f0;
        box-sizing: border-box;
        border-radius: 7px;
        color: #ffffff;
        font-size: 21px;
        font-weight: bold;
        padding: 11px 5px;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}
