.how {
    padding: 50px 0;

    h2 {
        font-weight: 900;
        font-size: 34px;
        line-height: 33px;
        color: #ffffff;
        margin-bottom: 45px;
        text-align: center;
    }

    .step {
        background: linear-gradient(95.45deg, #3b2e73 -92.2%, #10003b 105.35%);
        border: 5px dashed #493c84;
        box-sizing: border-box;
        box-shadow: 0px 16px 47px #10003a;
        border-radius: 10px;
        padding: 35px 15px;
        text-align: center;
        position: relative;
        label {
            position: absolute;
            left: 9px;
            top: -16px;
            background: linear-gradient(
                    92.8deg,
                    rgba(255, 255, 255, 0.6) -1.42%,
                    rgba(10, 176, 96, 0.6) 102.82%
                ),
                #20ff93;
            border-radius: 10px;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: #0f0038;
            padding: 4px 15px;
        }
        h3 {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            color: #fff;
            margin: 0;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #ff36ff;
            margin: 0;
        }
    }
}
