.proposal-item {
    padding: 25px;
    background: #180943;
    border-radius: 4px;
    margin-bottom: 15px;
    &.op {
        opacity: 0.6;
    }
    h4 {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.55);
    }
    table {
        tr {
            td {
                &:first-child {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(255, 255, 255, 0.58);
                }
                &:last-child {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: #ffffff;
                }
            }
        }
    }
    .vote-box {
        background: #21124f;
        border: 1px solid #10003b;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 25px;
    }
}
