.social-share {
    text-align: center;
    width: 100%;
    display: block;
    p {
        display: block;
        color: #a69fbb;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                background: linear-gradient(
                    328.75deg,
                    #493c85 -5.49%,
                    #0f0038 104.44%
                );
                display: block;
                border-radius: 100px;
                padding: 10px;
                margin: 0px 8px;
                box-shadow: 0px 4px 9px #0a021f;
                transition: all 150ms linear;
                svg {
                    color: #a69fbb;
                }
                &:hover {
                    box-shadow: 0px 4px 9px #ff36ff;
                    transform: scale(1.05);
                    cursor: pointer;
                    svg {
                        color: #ff36ff;
                    }
                }
            }
        }
    }
}
