.table {
    thead {
        th {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.26);
            text-transform: uppercase;
            border: 0;
        }
    }
    tbody {
        tr {
            border-bottom: 8px solid #1f104d;
            background: #180943;
            td {
                border: 0;
                &.collected {
                    color: #20ff93;
                }
                &.uncollected {
                    color: rgba(255, 255, 255, 0.53);
                }
                span {
                    opacity: 0.5;
                    font-size: 13px;
                    margin-left: 3px;
                }
            }
            th {
                border: 0;
                background: #0f0038;
                color: #ff36ff;
                font-size: 18px;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
