@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$primary: #ff36ff;
$secondary: #10003b;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
);
// (Required) Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

a {
    color: $primary;
}

//Coingecko widget styling

.cg-container {
    background-color: #281b59 !important;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    .cg-widget-container {
        background-color: #281b59 !important;
        color: #fff;
    }
}

//to local todo
@import './fonts';

@import './countdown';
@import './allowancemodal';
@import './buttons';
@import './cards';
@import './tables';
@import './usermodal';
@import './ticketmodal';
@import './proposalmodal';
@import './proposals';
@import './notifications';
@import './how';
@import './socialshare';
@import './app.scss';
@import './main-nav';
