.EmailBg {
  left: 0;
  z-index: 2;
  width: 100%;
  position: absolute;
}

#starsBg {
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
}
#cloudBg {
  top: 0;
  width: 100%;
  position: absolute;
}
#stageBg {
  top: 0;
  width: 100%;
  height: 110vh;
  position: absolute;
}
#ArrowDownButton {
  top: 90vh;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}

#ArrowDownButton {
  animation: rocket .8s infinite alternate;
  -webkit-animation: rocket .8s infinite alternate;
}
#sphere,
#rocket {
  animation: rocket 1.5s infinite alternate;
  -webkit-animation: rocket 1.5s infinite alternate;
}

@-webkit-keyframes rocket {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes rocket {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
